/* GLOBAL */
body {
  font-family: 'Nunito', sans-serif;
  background-color: #FAF0E8;
  font-variant-ligatures: none;
}

.about {
 margin: 5% 10%;
 max-width: 600px;
}

::selection {
   background: #FFBD00;
}

/* TYPE */

#name {
  font-size: 20px;
}

.kicker {
 font-size: 14 px;
 font-family: 'Inconsolata', monospace;
 padding-top: 1em;
 text-transform: uppercase;
 color: #0C618A;
}

h1 {
 font-size: 34px;
 color: #3D9EF1;
 line-height: 110%;
}

.description {
 font-size: 20px;
 line-height: 160%;
 font-weight: 300;
 color: #0C618A;
}

.body-copy {
 font-size: 16px;
 line-height: 140%;
 color: #0C618A;
}

a:link, a:visited {
  color: #263238;
  text-decoration: none;
  box-shadow: 0 -0.1em 0 #3D9EF1 inset;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  transition: 0.7s;
  box-shadow: 0 -0.3em 0 #F48FB1 inset;
}


@media (min-width: 450px) {
  h1 {
      font-size: 40px;
  }

  .description { 
    font-size: 24px;
  }

  .body-copy {
  font-size: 18px;
  line-height: 140%;
  color: #0C618A;
  }
}